In [30]:
import sqlite3
import pandas as pd

In [31]:
def create_connection(db_name):
    """create a database connection to the SQLite database specified by db_name

    Parameters
    ----------
    db_name: str
        database name

    Returns
    -------
    c: connection object
        conn.cursor

    conn: connection
        direct connect to database
    """
    conn = sqlite3.connect(db_name)
    # c = conn.cursor()
    return conn

In [32]:
connection = create_connection("./database/BikeRental.db")

In [33]:
df = pd.read_sql_query('''SELECT * FROM hours_preprocessed''', connection)

DatabaseError: Execution failed on sql 'SELECT * FROM hours_preprocessed': no such table: hours_preprocessed